* {
    box-sizing: border-box;
  }
  body {
    padding: 10px;
    background-color: rgb(136, 136, 136);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }

  h1 {
      color:rgb(91, 12, 148);
      text-align: center;
      border-style: dotted;
  }
  
  nav li {
      display: inline;
      font-family:'Times New Roman', Times, serif;   
  }

.info-articles {
    outline: solid;

}

img {
    float: right;
    padding-left: 30px;
}

#bio {
    float: left;
    padding: 25px;
}

#work {
    float: right;
    padding: 30px;
    margin: 20px;
}
#work a {
    text-decoration: none;

}

footer h4 {
  margin: 20px;
  padding: 100px;
  text-align: left;
}

footer li { 
    display: inline;
    padding: 100px;
    font-style: italic;
}