* {
    box-sizing: border-box;
  }
  body {
    padding: 10px;
    background-color: rgb(136, 136, 136);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }

  h1 {
      color:rgb(91, 12, 148);
      text-align: center;
      border-style: dotted;
  }
  
  nav li {
      display: inline;
      font-family:'Times New Roman', Times, serif;   
      border-style: double;
      padding: 5px;
      text-align: center;

  }

  .info-articles {
    outline: solid;
    min-height: 250px;
    padding: 30px;
    margin-top: 30px;
  }

  .info-articles img {
    max-height: 120px;
    padding-right: 20px;
    float: left;
    margin-bottom: 20px;
}

#bio {
   text-align: center;
}

#work {
    text-align: left;
}
#work a {
    text-decoration-line: unset;
}

#connect {
    outline: none;
    text-align: center;

}
#connect ul {
    float: center;
    text-align: center;
}
#connect li, #connect h2 {
    display: inline-block;


}

@media screen and (max-width: 650px) {
    body {
        background-color: white;
    }
}