* {
    box-sizing: border-box;
  }
  body {
    padding: 10px;
    background-color: rgb(136, 136, 136);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }

  h1 {
      color:rgb(91, 12, 148);
      text-align: center;
      border-style: dotted;
  }
  
  nav li {
      display: inline;
      font-family:'Times New Roman', Times, serif;   
      border-style: double;
      padding: 10px;
  }

  .info-articles {
    outline: solid;
  }

  .info-articles img {
    max-height: 120px;
    padding-right: 20px;
    float: left;
    margin-bottom: 20px
}

#bio {
    padding: 30px;
}

#work {
    text-align: left;
}
#work a {
    text-decoration: none;
}

#connect {
    outline: none;
    display: inline;
}

@media screen and (max-width: 650px) {
    body {
        background-color: white;
    }
}